PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/containerdb?retryWrites=true&w=majority
LDB_BASE_API=https://www.ldb.co.in/api/ldb/container/search
MAPBOX_TOKEN=YOUR_MAPBOX_TOKEN_IF_SERVER_NEEDS_IT
STEP_MINUTES=15
